USE [master]
GO
/****** Object:  Database [AutoWashPro]    Script Date: 23/06/2026 4:32:52 CH ******/
CREATE DATABASE [AutoWashPro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutoWashPro', FILENAME = N'D:\app\MSSQL15.MSSQLSERVER\MSSQL\DATA\AutoWashPro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AutoWashPro_log', FILENAME = N'D:\app\MSSQL15.MSSQLSERVER\MSSQL\DATA\AutoWashPro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutoWashPro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutoWashPro]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[actor_id] [bigint] NOT NULL,
	[action] [nvarchar](50) NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[entity_id] [bigint] NOT NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [nvarchar](50) NULL,
	[user_agent] [nvarchar](255) NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_service_steps]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_service_steps](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[service_package_id] [bigint] NOT NULL,
	[service_package_step_id] [bigint] NOT NULL,
	[completed_by_staff_id] [bigint] NULL,
	[step_order] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[status] [nvarchar](30) NOT NULL,
	[started_at] [datetime2](0) NULL,
	[completed_at] [datetime2](0) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_upsells]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_upsells](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[service_package_id] [bigint] NOT NULL,
	[actual_price] [decimal](18, 2) NOT NULL,
	[added_by_staff_id] [bigint] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NULL,
	[vehicle_id] [bigint] NULL,
	[garage_id] [bigint] NOT NULL,
	[wash_bay_id] [bigint] NULL,
	[service_package_id] [bigint] NOT NULL,
	[created_by_staff_id] [bigint] NULL,
	[promotion_id] [bigint] NULL,
	[booking_date] [date] NOT NULL,
	[start_time] [datetime2](0) NOT NULL,
	[end_time] [datetime2](0) NOT NULL,
	[wash_bay_start_time] [datetime2](0) NULL,
	[wash_bay_end_time] [datetime2](0) NULL,
	[status] [nvarchar](30) NOT NULL,
	[payment_status] [nvarchar](30) NOT NULL,
	[payment_method] [nvarchar](30) NULL,
	[original_price] [decimal](18, 2) NOT NULL,
	[surcharge_amount] [decimal](18, 2) NOT NULL,
	[discount_amount] [decimal](18, 2) NOT NULL,
	[final_price] [decimal](18, 2) NOT NULL,
	[deposit_amount] [decimal](18, 2) NOT NULL,
	[deposit_status] [nvarchar](30) NOT NULL,
	[payment_expired_at] [datetime2](0) NULL,
	[original_start_time] [datetime2](0) NULL,
	[rescheduled_at] [datetime2](0) NULL,
	[refund_amount] [decimal](18, 2) NOT NULL,
	[cancellation_policy_id] [bigint] NULL,
	[is_walk_in] [bit] NOT NULL,
	[guest_name] [nvarchar](100) NULL,
	[guest_phone] [nvarchar](20) NULL,
	[license_plate] [nvarchar](50) NULL,
	[reward_processed] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cancellation_policies]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cancellation_policies](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[policy_name] [nvarchar](100) NOT NULL,
	[max_hours_before] [int] NOT NULL,
	[min_hours_before] [int] NOT NULL,
	[refund_percentage] [decimal](5, 2) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_loyalties]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_loyalties](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[current_tier] [nvarchar](30) NOT NULL,
	[total_points] [int] NOT NULL,
	[available_points] [int] NOT NULL,
	[redeemed_points] [int] NOT NULL,
	[expired_points] [int] NOT NULL,
	[total_spent] [decimal](18, 2) NOT NULL,
	[total_visits] [int] NOT NULL,
	[current_cycle_spent] [decimal](18, 2) NOT NULL,
	[current_cycle_visits] [int] NOT NULL,
	[tier_valid_until] [datetime2](0) NULL,
	[last_review_at] [datetime2](0) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[garages]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[garages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[garage_code] [nvarchar](50) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[city] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[opening_time] [time](7) NOT NULL,
	[closing_time] [time](7) NOT NULL,
	[slot_interval_minutes] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[garage_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[holiday_surcharges]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[holiday_surcharges](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[special_day_id] [bigint] NOT NULL,
	[service_package_id] [bigint] NOT NULL,
	[surcharge_amount] [decimal](18, 2) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loyalty_tier_rules]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loyalty_tier_rules](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tier] [nvarchar](30) NOT NULL,
	[min_total_spent] [decimal](18, 2) NOT NULL,
	[min_total_visits] [int] NOT NULL,
	[booking_window_days] [int] NOT NULL,
	[max_upcoming_bookings] [int] NOT NULL,
	[earn_rate] [decimal](10, 2) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[booking_id] [bigint] NULL,
	[channel] [nvarchar](30) NOT NULL,
	[event_type] [nvarchar](50) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[is_read] [bit] NOT NULL,
	[read_at] [datetime2](0) NULL,
	[sent_at] [datetime2](0) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_resets]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_resets](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[expires_at] [datetime2](0) NOT NULL,
	[is_used] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[point_transactions]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[point_transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[booking_id] [bigint] NULL,
	[type] [nvarchar](30) NOT NULL,
	[points] [int] NOT NULL,
	[remaining_points] [int] NOT NULL,
	[expired_at] [datetime2](0) NULL,
	[source] [nvarchar](50) NOT NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion_applicable_tiers]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion_applicable_tiers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[promotion_id] [bigint] NOT NULL,
	[tier] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion_usages]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion_usages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[promotion_id] [bigint] NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[discount_amount] [decimal](18, 2) NOT NULL,
	[used_at] [datetime2](0) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[discount_type] [nvarchar](30) NOT NULL,
	[discount_value] [decimal](18, 2) NOT NULL,
	[max_discount_amount] [decimal](18, 2) NULL,
	[min_order_amount] [decimal](18, 2) NULL,
	[usage_limit] [int] NULL,
	[per_user_limit] [int] NULL,
	[used_count] [int] NOT NULL,
	[start_at] [datetime2](0) NOT NULL,
	[end_at] [datetime2](0) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_tokens]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[token] [nvarchar](500) NOT NULL,
	[expires_at] [datetime2](0) NOT NULL,
	[is_revoked] [bit] NOT NULL,
	[device_info] [nvarchar](255) NULL,
	[ip_address] [nvarchar](50) NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_package_includes]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_package_includes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[parent_service_package_id] [bigint] NOT NULL,
	[included_service_package_id] [bigint] NOT NULL,
	[sort_order] [int] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_package_step_instructions]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_package_step_instructions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[service_package_step_id] [bigint] NOT NULL,
	[instruction_order] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_package_steps]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_package_steps](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[service_package_id] [bigint] NOT NULL,
	[parent_step_id] [bigint] NULL,
	[step_order] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[is_required] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_packages]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_packages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[vehicle_type] [nvarchar](30) NOT NULL,
	[service_type] [nvarchar](30) NOT NULL,
	[base_price] [decimal](18, 2) NOT NULL,
	[duration_minutes] [int] NOT NULL,
	[wash_bay_duration_minutes] [int] NOT NULL,
	[points_earned] [int] NOT NULL,
	[requires_wash_bay] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
	[requires_care_staff] [bit] NOT NULL,
	[care_staff_type] [nvarchar](30) NULL,
	[care_staff_required_count] [int] NOT NULL,
	[care_staff_duration_minutes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[special_days]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[special_days](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[day_name] [nvarchar](100) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff_profiles]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff_profiles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[garage_id] [bigint] NOT NULL,
	[staff_code] [nvarchar](50) NOT NULL,
	[staff_type] [nvarchar](30) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[staff_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[surveys]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[surveys](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uploads]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uploads](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[owner_id] [bigint] NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[entity_id] [bigint] NOT NULL,
	[file_url] [nvarchar](255) NOT NULL,
	[public_id] [nvarchar](255) NULL,
	[mime_type] [nvarchar](100) NULL,
	[size] [bigint] NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](30) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle_inspection_images]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle_inspection_images](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vehicle_inspection_id] [bigint] NOT NULL,
	[image_url] [nvarchar](255) NOT NULL,
	[public_id] [nvarchar](255) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle_inspections]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle_inspections](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[vehicle_id] [bigint] NOT NULL,
	[garage_id] [bigint] NOT NULL,
	[inspected_by_staff_id] [bigint] NOT NULL,
	[type] [nvarchar](30) NOT NULL,
	[exterior_condition] [nvarchar](max) NULL,
	[interior_condition] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicles]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NULL,
	[raw_license_plate] [nvarchar](50) NOT NULL,
	[normalized_license_plate] [nvarchar](50) NOT NULL,
	[vehicle_type] [nvarchar](30) NOT NULL,
	[engine_type] [nvarchar](30) NULL,
	[brand] [nvarchar](50) NOT NULL,
	[model] [nvarchar](50) NOT NULL,
	[color] [nvarchar](30) NULL,
	[seat_count] [int] NULL,
	[motorbike_group] [nvarchar](30) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[normalized_license_plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[waitlists]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[waitlists](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[garage_id] [bigint] NOT NULL,
	[customer_id] [bigint] NULL,
	[vehicle_id] [bigint] NULL,
	[service_package_id] [bigint] NOT NULL,
	[offered_booking_id] [bigint] NULL,
	[desired_start_time] [datetime2](0) NOT NULL,
	[desired_end_time] [datetime2](0) NOT NULL,
	[vehicle_type] [nvarchar](30) NOT NULL,
	[priority_level] [int] NOT NULL,
	[customer_tier] [nvarchar](30) NULL,
	[status] [nvarchar](30) NOT NULL,
	[offered_at] [datetime2](0) NULL,
	[offer_expires_at] [datetime2](0) NULL,
	[accepted_at] [datetime2](0) NULL,
	[canceled_at] [datetime2](0) NULL,
	[expired_at] [datetime2](0) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wash_bays]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wash_bays](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[garage_id] [bigint] NOT NULL,
	[bay_code] [nvarchar](50) NOT NULL,
	[vehicle_type] [nvarchar](30) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[current_booking_id] [bigint] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wash_histories]    Script Date: 23/06/2026 4:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wash_histories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[customer_id] [bigint] NULL,
	[vehicle_id] [bigint] NOT NULL,
	[garage_id] [bigint] NOT NULL,
	[service_package_id] [bigint] NOT NULL,
	[completed_at] [datetime2](0) NOT NULL,
	[paid_at] [datetime2](0) NOT NULL,
	[final_price] [decimal](18, 2) NOT NULL,
	[earned_points] [int] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[booking_service_steps] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[booking_service_steps] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[booking_upsells] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ((0.00)) FOR [surcharge_amount]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ((0.00)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ((0.00)) FOR [deposit_amount]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ('UNPAID') FOR [deposit_status]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ((0.00)) FOR [refund_amount]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ((0)) FOR [is_walk_in]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ((0)) FOR [reward_processed]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[cancellation_policies] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[cancellation_policies] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[cancellation_policies] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[customer_loyalties] ADD  DEFAULT ((0)) FOR [total_points]
GO
ALTER TABLE [dbo].[customer_loyalties] ADD  DEFAULT ((0)) FOR [available_points]
GO
ALTER TABLE [dbo].[customer_loyalties] ADD  DEFAULT ((0)) FOR [redeemed_points]
GO
ALTER TABLE [dbo].[customer_loyalties] ADD  DEFAULT ((0)) FOR [expired_points]
GO
ALTER TABLE [dbo].[customer_loyalties] ADD  DEFAULT ((0)) FOR [total_spent]
GO
ALTER TABLE [dbo].[customer_loyalties] ADD  DEFAULT ((0)) FOR [total_visits]
GO
ALTER TABLE [dbo].[customer_loyalties] ADD  DEFAULT ((0.00)) FOR [current_cycle_spent]
GO
ALTER TABLE [dbo].[customer_loyalties] ADD  DEFAULT ((0)) FOR [current_cycle_visits]
GO
ALTER TABLE [dbo].[customer_loyalties] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[customer_loyalties] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[garages] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[garages] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[garages] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[holiday_surcharges] ADD  DEFAULT ((0.00)) FOR [surcharge_amount]
GO
ALTER TABLE [dbo].[holiday_surcharges] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[holiday_surcharges] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[loyalty_tier_rules] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[loyalty_tier_rules] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[loyalty_tier_rules] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[password_resets] ADD  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[password_resets] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[point_transactions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[point_transactions] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[promotion_applicable_tiers] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[promotion_applicable_tiers] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[promotion_usages] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[promotion_usages] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  DEFAULT ((0)) FOR [is_revoked]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_package_includes] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_package_includes] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[service_package_step_instructions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_package_step_instructions] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[service_package_steps] ADD  DEFAULT ((1)) FOR [is_required]
GO
ALTER TABLE [dbo].[service_package_steps] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_package_steps] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[service_packages] ADD  DEFAULT ((1)) FOR [requires_wash_bay]
GO
ALTER TABLE [dbo].[service_packages] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[service_packages] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_packages] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[service_packages] ADD  DEFAULT ((0)) FOR [requires_care_staff]
GO
ALTER TABLE [dbo].[service_packages] ADD  DEFAULT ((0)) FOR [care_staff_required_count]
GO
ALTER TABLE [dbo].[service_packages] ADD  DEFAULT ((0)) FOR [care_staff_duration_minutes]
GO
ALTER TABLE [dbo].[special_days] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[special_days] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[special_days] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[staff_profiles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[staff_profiles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[staff_profiles] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[surveys] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[surveys] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[uploads] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[vehicle_inspection_images] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[vehicle_inspection_images] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[vehicle_inspections] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[vehicle_inspections] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[vehicles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[vehicles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[vehicles] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[waitlists] ADD  DEFAULT ((1)) FOR [priority_level]
GO
ALTER TABLE [dbo].[waitlists] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[waitlists] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[wash_bays] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[wash_bays] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[wash_bays] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[wash_histories] ADD  DEFAULT ((0)) FOR [earned_points]
GO
ALTER TABLE [dbo].[wash_histories] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[wash_histories] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [FK_audit_logs_actor] FOREIGN KEY([actor_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [FK_audit_logs_actor]
GO
ALTER TABLE [dbo].[booking_service_steps]  WITH CHECK ADD  CONSTRAINT [FK_bss_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[booking_service_steps] CHECK CONSTRAINT [FK_bss_booking]
GO
ALTER TABLE [dbo].[booking_service_steps]  WITH CHECK ADD  CONSTRAINT [FK_bss_package] FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_packages] ([id])
GO
ALTER TABLE [dbo].[booking_service_steps] CHECK CONSTRAINT [FK_bss_package]
GO
ALTER TABLE [dbo].[booking_service_steps]  WITH CHECK ADD  CONSTRAINT [FK_bss_staff] FOREIGN KEY([completed_by_staff_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[booking_service_steps] CHECK CONSTRAINT [FK_bss_staff]
GO
ALTER TABLE [dbo].[booking_service_steps]  WITH CHECK ADD  CONSTRAINT [FK_bss_template_step] FOREIGN KEY([service_package_step_id])
REFERENCES [dbo].[service_package_steps] ([id])
GO
ALTER TABLE [dbo].[booking_service_steps] CHECK CONSTRAINT [FK_bss_template_step]
GO
ALTER TABLE [dbo].[booking_upsells]  WITH CHECK ADD  CONSTRAINT [FK_upsells_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[booking_upsells] CHECK CONSTRAINT [FK_upsells_booking]
GO
ALTER TABLE [dbo].[booking_upsells]  WITH CHECK ADD  CONSTRAINT [FK_upsells_package] FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_packages] ([id])
GO
ALTER TABLE [dbo].[booking_upsells] CHECK CONSTRAINT [FK_upsells_package]
GO
ALTER TABLE [dbo].[booking_upsells]  WITH CHECK ADD  CONSTRAINT [FK_upsells_staff] FOREIGN KEY([added_by_staff_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[booking_upsells] CHECK CONSTRAINT [FK_upsells_staff]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_cancellation_policy] FOREIGN KEY([cancellation_policy_id])
REFERENCES [dbo].[cancellation_policies] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_cancellation_policy]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_created_by_staff] FOREIGN KEY([created_by_staff_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_created_by_staff]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_customer]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_garage] FOREIGN KEY([garage_id])
REFERENCES [dbo].[garages] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_garage]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_package] FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_packages] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_package]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_promotion] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotions] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_promotion]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_vehicle]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_wash_bay] FOREIGN KEY([wash_bay_id])
REFERENCES [dbo].[wash_bays] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_wash_bay]
GO
ALTER TABLE [dbo].[customer_loyalties]  WITH CHECK ADD  CONSTRAINT [FK_customer_loyalties_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[customer_loyalties] CHECK CONSTRAINT [FK_customer_loyalties_customer]
GO
ALTER TABLE [dbo].[holiday_surcharges]  WITH CHECK ADD  CONSTRAINT [FK_surcharges_package] FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_packages] ([id])
GO
ALTER TABLE [dbo].[holiday_surcharges] CHECK CONSTRAINT [FK_surcharges_package]
GO
ALTER TABLE [dbo].[holiday_surcharges]  WITH CHECK ADD  CONSTRAINT [FK_surcharges_special_day] FOREIGN KEY([special_day_id])
REFERENCES [dbo].[special_days] ([id])
GO
ALTER TABLE [dbo].[holiday_surcharges] CHECK CONSTRAINT [FK_surcharges_special_day]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_booking]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_user]
GO
ALTER TABLE [dbo].[password_resets]  WITH CHECK ADD  CONSTRAINT [FK_password_resets_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[password_resets] CHECK CONSTRAINT [FK_password_resets_user]
GO
ALTER TABLE [dbo].[point_transactions]  WITH CHECK ADD  CONSTRAINT [FK_pt_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[point_transactions] CHECK CONSTRAINT [FK_pt_booking]
GO
ALTER TABLE [dbo].[point_transactions]  WITH CHECK ADD  CONSTRAINT [FK_pt_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[point_transactions] CHECK CONSTRAINT [FK_pt_customer]
GO
ALTER TABLE [dbo].[promotion_applicable_tiers]  WITH CHECK ADD  CONSTRAINT [FK_pat_promotion] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotions] ([id])
GO
ALTER TABLE [dbo].[promotion_applicable_tiers] CHECK CONSTRAINT [FK_pat_promotion]
GO
ALTER TABLE [dbo].[promotion_usages]  WITH CHECK ADD  CONSTRAINT [FK_pu_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[promotion_usages] CHECK CONSTRAINT [FK_pu_booking]
GO
ALTER TABLE [dbo].[promotion_usages]  WITH CHECK ADD  CONSTRAINT [FK_pu_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[promotion_usages] CHECK CONSTRAINT [FK_pu_customer]
GO
ALTER TABLE [dbo].[promotion_usages]  WITH CHECK ADD  CONSTRAINT [FK_pu_promotion] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotions] ([id])
GO
ALTER TABLE [dbo].[promotion_usages] CHECK CONSTRAINT [FK_pu_promotion]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK_refresh_tokens_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [FK_refresh_tokens_user]
GO
ALTER TABLE [dbo].[service_package_includes]  WITH CHECK ADD  CONSTRAINT [FK_spi_included] FOREIGN KEY([included_service_package_id])
REFERENCES [dbo].[service_packages] ([id])
GO
ALTER TABLE [dbo].[service_package_includes] CHECK CONSTRAINT [FK_spi_included]
GO
ALTER TABLE [dbo].[service_package_includes]  WITH CHECK ADD  CONSTRAINT [FK_spi_parent] FOREIGN KEY([parent_service_package_id])
REFERENCES [dbo].[service_packages] ([id])
GO
ALTER TABLE [dbo].[service_package_includes] CHECK CONSTRAINT [FK_spi_parent]
GO
ALTER TABLE [dbo].[service_package_step_instructions]  WITH CHECK ADD  CONSTRAINT [FK_spsi_step] FOREIGN KEY([service_package_step_id])
REFERENCES [dbo].[service_package_steps] ([id])
GO
ALTER TABLE [dbo].[service_package_step_instructions] CHECK CONSTRAINT [FK_spsi_step]
GO
ALTER TABLE [dbo].[service_package_steps]  WITH CHECK ADD  CONSTRAINT [FK_sps_package] FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_packages] ([id])
GO
ALTER TABLE [dbo].[service_package_steps] CHECK CONSTRAINT [FK_sps_package]
GO
ALTER TABLE [dbo].[service_package_steps]  WITH CHECK ADD  CONSTRAINT [FK_sps_parent_step] FOREIGN KEY([parent_step_id])
REFERENCES [dbo].[service_package_steps] ([id])
GO
ALTER TABLE [dbo].[service_package_steps] CHECK CONSTRAINT [FK_sps_parent_step]
GO
ALTER TABLE [dbo].[staff_profiles]  WITH CHECK ADD  CONSTRAINT [FK_staff_profiles_garage] FOREIGN KEY([garage_id])
REFERENCES [dbo].[garages] ([id])
GO
ALTER TABLE [dbo].[staff_profiles] CHECK CONSTRAINT [FK_staff_profiles_garage]
GO
ALTER TABLE [dbo].[staff_profiles]  WITH CHECK ADD  CONSTRAINT [FK_staff_profiles_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[staff_profiles] CHECK CONSTRAINT [FK_staff_profiles_user]
GO
ALTER TABLE [dbo].[surveys]  WITH CHECK ADD  CONSTRAINT [FK_surveys_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[surveys] CHECK CONSTRAINT [FK_surveys_booking]
GO
ALTER TABLE [dbo].[surveys]  WITH CHECK ADD  CONSTRAINT [FK_surveys_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[surveys] CHECK CONSTRAINT [FK_surveys_customer]
GO
ALTER TABLE [dbo].[uploads]  WITH CHECK ADD  CONSTRAINT [FK_uploads_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[uploads] CHECK CONSTRAINT [FK_uploads_owner]
GO
ALTER TABLE [dbo].[vehicle_inspection_images]  WITH CHECK ADD  CONSTRAINT [FK_vii_inspection] FOREIGN KEY([vehicle_inspection_id])
REFERENCES [dbo].[vehicle_inspections] ([id])
GO
ALTER TABLE [dbo].[vehicle_inspection_images] CHECK CONSTRAINT [FK_vii_inspection]
GO
ALTER TABLE [dbo].[vehicle_inspections]  WITH CHECK ADD  CONSTRAINT [FK_vi_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[vehicle_inspections] CHECK CONSTRAINT [FK_vi_booking]
GO
ALTER TABLE [dbo].[vehicle_inspections]  WITH CHECK ADD  CONSTRAINT [FK_vi_garage] FOREIGN KEY([garage_id])
REFERENCES [dbo].[garages] ([id])
GO
ALTER TABLE [dbo].[vehicle_inspections] CHECK CONSTRAINT [FK_vi_garage]
GO
ALTER TABLE [dbo].[vehicle_inspections]  WITH CHECK ADD  CONSTRAINT [FK_vi_staff] FOREIGN KEY([inspected_by_staff_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[vehicle_inspections] CHECK CONSTRAINT [FK_vi_staff]
GO
ALTER TABLE [dbo].[vehicle_inspections]  WITH CHECK ADD  CONSTRAINT [FK_vi_vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[vehicle_inspections] CHECK CONSTRAINT [FK_vi_vehicle]
GO
ALTER TABLE [dbo].[vehicles]  WITH CHECK ADD  CONSTRAINT [FK_vehicles_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[vehicles] CHECK CONSTRAINT [FK_vehicles_customer]
GO
ALTER TABLE [dbo].[waitlists]  WITH CHECK ADD  CONSTRAINT [FK_waitlists_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[waitlists] CHECK CONSTRAINT [FK_waitlists_customer]
GO
ALTER TABLE [dbo].[waitlists]  WITH CHECK ADD  CONSTRAINT [FK_waitlists_garage] FOREIGN KEY([garage_id])
REFERENCES [dbo].[garages] ([id])
GO
ALTER TABLE [dbo].[waitlists] CHECK CONSTRAINT [FK_waitlists_garage]
GO
ALTER TABLE [dbo].[waitlists]  WITH CHECK ADD  CONSTRAINT [FK_waitlists_offered_booking] FOREIGN KEY([offered_booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[waitlists] CHECK CONSTRAINT [FK_waitlists_offered_booking]
GO
ALTER TABLE [dbo].[waitlists]  WITH CHECK ADD  CONSTRAINT [FK_waitlists_package] FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_packages] ([id])
GO
ALTER TABLE [dbo].[waitlists] CHECK CONSTRAINT [FK_waitlists_package]
GO
ALTER TABLE [dbo].[waitlists]  WITH CHECK ADD  CONSTRAINT [FK_waitlists_vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[waitlists] CHECK CONSTRAINT [FK_waitlists_vehicle]
GO
ALTER TABLE [dbo].[wash_bays]  WITH CHECK ADD  CONSTRAINT [FK_wash_bays_current_booking] FOREIGN KEY([current_booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[wash_bays] CHECK CONSTRAINT [FK_wash_bays_current_booking]
GO
ALTER TABLE [dbo].[wash_bays]  WITH CHECK ADD  CONSTRAINT [FK_wash_bays_garage] FOREIGN KEY([garage_id])
REFERENCES [dbo].[garages] ([id])
GO
ALTER TABLE [dbo].[wash_bays] CHECK CONSTRAINT [FK_wash_bays_garage]
GO
ALTER TABLE [dbo].[wash_histories]  WITH CHECK ADD  CONSTRAINT [FK_wh_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[wash_histories] CHECK CONSTRAINT [FK_wh_booking]
GO
ALTER TABLE [dbo].[wash_histories]  WITH CHECK ADD  CONSTRAINT [FK_wh_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[wash_histories] CHECK CONSTRAINT [FK_wh_customer]
GO
ALTER TABLE [dbo].[wash_histories]  WITH CHECK ADD  CONSTRAINT [FK_wh_garage] FOREIGN KEY([garage_id])
REFERENCES [dbo].[garages] ([id])
GO
ALTER TABLE [dbo].[wash_histories] CHECK CONSTRAINT [FK_wh_garage]
GO
ALTER TABLE [dbo].[wash_histories]  WITH CHECK ADD  CONSTRAINT [FK_wh_package] FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_packages] ([id])
GO
ALTER TABLE [dbo].[wash_histories] CHECK CONSTRAINT [FK_wh_package]
GO
ALTER TABLE [dbo].[wash_histories]  WITH CHECK ADD  CONSTRAINT [FK_wh_vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[wash_histories] CHECK CONSTRAINT [FK_wh_vehicle]
GO
USE [master]
GO
